/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[LoginPhone]
      ,[LoginPassword]
      ,[Address]
      ,[City]
      ,[Country]
      ,[Email]
      ,[FullName]
      ,[RoleId]
      ,[CreatedDateTime]
      ,[Designation]
      ,[Department]
      ,[HospitalName]
      ,[PinCode]
      ,[DOB]
      ,[Gender]
  FROM [Mercury].[dbo].[UserMaster]
  'Romil@gmail.com'
  'CT+w6OzUtjU'